{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<agm-map [latitude]="lat" [longitude]="lng">

  <agm-circle [latitude]="lat" [longitude]="lng"
      [radius]="5000"
      [fillColor]="color">
  </agm-circle>

  <agm-circle [latitude]="lat2" [longitude]="lng2"
      [radius]="5000"
      [fillColor]="color">
  </agm-circle>

  <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon0">
  </agm-marker>

  <agm-marker [latitude]="44.8013678" [longitude]="10.3280833" [iconUrl]="icon1">
  </agm-marker>

  <agm-marker [latitude]="45.0368547" [longitude]="9.1378251" [iconUrl]="icon2">
  </agm-marker>

  <agm-marker [latitude]="45.0677551" [longitude]="7.6824892" [iconUrl]="icon3">
  </agm-marker>

  <agm-polygon [paths]="triangle" [fillColor]="'red'">
  </agm-polygon>

  <agm-polygon [paths]="rectangle" [fillColor]="rColor">
  </agm-polygon>

</agm-map>

<br>

<div>
  <h3>Cerchi</h3>
  <button (click)="setRed()">Red</button>
  <button (click)="setYellow()">Yellow</button>
  <button (click)="setGreen()">Green</button>
</div>

<div>
  <h3>Rettangolo</h3>
  <button (click)="setRRed()">Red</button>
  <button (click)="setRYellow()">Yellow</button>
  <button (click)="setRGreen()">Green</button>
</div>
